#projects{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('./projectbackg.jpg');
    height: 80vh;
    color: white;
}
#projects h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.box-projects{
    display: flex;
    margin: 40px;
}
.project-boxes{
    height: 500px;
    width: 650px;
    background-image: linear-gradient(to right, #eacda3 , #d6ae7b);
    border: 2px solid white;
    padding: 9px;
    margin: 20px;
}
.project-boxes h1{
    margin-bottom: 19px;
    color: black
}
.img{
    display: block;
    margin: 50px auto 40px auto;

}
.para-projects{
    color: whitesmoke;
    font-size: 20px;
    margin: 15px;
}